<!-- ここから_header.ejs -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="<%= meta.path %>/css/styles.css">
  <title><%= meta.ttl %></title>
  <meta name="description" content="<%= meta.desc %>">
  
</head>

    <!-- <p>ココはheader.ejsに追加した文章</p>
    <%= title %> -->

      <body>

        <header class="header layout-header">
          <div class="header__inner">
            <div class="header__logo">
              <img src="./images/sample.jpg" alt="ヘッダーのロゴ">
            </div>
            <nav class="header__nav">
              <ul class="header__lists">
                <li class="header__list"><a href="">あああああ</a></li>
                <li class="header__list"><a href="">いいいいい</a></li>
                <li class="header__list"><a href="">ううううう</a></li>
              </ul>
            </nav>
          </div>
        </header>

        <!-- ここまで_header.ejs -->